tk_project_windows\Debug\
tk_project_windows\network_server_dll\Debug\
tk_project_windows\test_client\Debug\
tk_project_windows\test_server\Debug\
tk_project_windows\tk_project_windows.sdf
tk_project_windows\crypt_gost_28147-89\Debug
import_library\boost_1_57_0\
import_library\cryptopp562\
*.sdf
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.pidb
*.userprefs